{% extends "base.html" %}

{% block main_content %}
    <section id="login">
        <form action="" method="POST" novalidate>
            <section id="title">
                <h1>Modify shop</h1>
            </section>
            {{ form.hidden_tag() }}
            <section>
                <h1>{{ form.name.label }}</h1>
                <p>{{ form.name() }}</p>
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </section>

            <section>
                <h1>{{ form.address.label }}</h1>
                <p>{{ form.address() }}</p>
                {% for error in form.address.errors %}
                    {{ error }}
                {% endfor %}
            </section>

            <section>
                <h1>{{ form.open_time.label }}</h1>
                <p>{{ form.open_time() }}</p>
                {% for error in form.open_time.errors %}
                    {{ error }}
                {% endfor %}
            </section>

            <section>
                <h1>{{ form.close_time.label }}</h1>
                <p>{{ form.close_time() }}</p>
                {% for error in form.close_time.errors %}
                    {{ error }}
                {% endfor %}
            </section>


            <section>
                <h1>{{ form.description.label }}</h1>
                <p>{{ form.description() }}</p>
            </section>
            

            {{ form.submit() }}

            <p><a href="{{ url_for('floral_shop', floral_id = floral_id) }}">Return to the shop</a></p>  
        </form>
    </section>  
    




{% endblock %}